<!DOCTYPE html>

<html>
    <head>
        <title>WebSite</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="main.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Indie+Flower|Pacifico" rel="stylesheet">
        <script src="script.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="header"><h1>Online-magazine about books</h1>
        <nav>
        <ul>
        <li><a href="fantasy.html">Fantasy</a></li>    
        <li><a href="science.html">Science</a></li>
        <li><a href="art.html">Art</a></li>
        </ul>    
        </nav>
        </div>
        <div id="content">
        <h4>Alice in Wonderland</h4>
            <h2>Author: J. Lewis Carroll</h2>
        <p>
        Alice's Adventures in Wonderland (commonly shortened to Alice in Wonderland) is an 1865 novel written by English mathematician Charles Lutwidge Dodgson under the pseudonym Lewis Carroll. It tells of a girl named Alice falling through a rabbit hole into a fantasy world populated by peculiar, anthropomorphic creatures. The tale plays with logic, giving the story lasting popularity with adults as well as with children. It is considered to be one of the best examples of the literary nonsense genre. Its narrative course and structure, characters and imagery have been enormously influential in both popular culture and literature, especially in the fantasy genre. 
        </p>
        <img src="images/alice.jpg" alt="alice" width="30%">
        </div>
        <div id="footer">
         <h6>Join us:</h6>
        <ul>
        <li><a href="vk.com"><i class="fa fa-vk" aria-hidden="true"></i>VK</a></li>
        <li><a href="facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a></li>
        <li><a href="twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i>Twitter</a></li>
        </ul>
        </div>
       
       
        
    <!--komment-->
    </body>
</html>